{% extends 'base.html' %} {% block content %}

<form
  action="{% url 'equipment_production_summary' %}"
  method="POST"
  onsubmit="return getSelectedComponents()"
>
  {% csrf_token %}
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
  >
    <h1 class="h2">Selecionar componentes para a produção</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button id="btnContinue" class="btn btn-success d-none" type="submit">
        Continuar
      </button>
    </div>
  </div>
  <div class="pt-md-3">
    <input
      id="equipment_id"
      name="equipment_id"
      type="hidden"
      value="{{ equipment_id }}"
    />
    <input id="selected_components" name="selected_components" type="hidden" />
    <table
      id="table-components-to-order"
      class="table table-striped"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th class="no-sort"></th>
          <th>Nome</th>
          <th>Fornecedor</th>
          <th>Armazém</th>
          <th>Stock</th>
          <th>Preço unitário</th>
        </tr>
      </thead>
      <tbody>
        {% for row in view_data %}
        <tr>
          <td>
            <input
              type="checkbox"
              name="selected_items"
              value="{{ row.0 }}"
            />
          </td>
          <td>{{ row.2.strip|default:"-" }}</td>
          <td>{{ row.4.strip|default:"-" }}</td>
          <td>{{ row.6.strip|default:"-" }}</td>
          <td>{{ row.7|default:"-" }}</td>
          <td>{{ row.8|default:"-" }}€</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>
{% endblock %} {% block extra_scripts %}
<script>
  $(document).ready(function () {
    $("#table-components-to-order").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json"
      },
      columnDefs: [
        {
          targets: "no-sort",
          orderable: false
        }
      ]
    });
  });

  const checkboxes = document.querySelectorAll(
    'input[type="checkbox"][name="selected_items"]'
  );

  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", checkIfAnySelected);
  });

  function checkIfAnySelected() {
    const checkboxes = document.querySelectorAll(
      'input[type="checkbox"][name="selected_items"]'
    );

    let isChecked = false;
    checkboxes.forEach((checkbox) => {
      if (checkbox.checked) {
        isChecked = true;
      }
    });

    isChecked
      ? document.getElementById("btnContinue").classList.remove("d-none")
      : document.getElementById("btnContinue").classList.add("d-none");

    return isChecked;
  }

  window.addEventListener("DOMContentLoaded", checkIfAnySelected);

  function getSelectedComponents() {
    const checkboxes = document.querySelectorAll(
      'input[type="checkbox"][name="selected_items"]'
    );

    let selectedComponents = [];
    checkboxes.forEach((checkbox) => {
      if (checkbox.checked) {
        selectedComponents.push(checkbox.value);
      }
    });

    document.getElementById("selected_components").value = selectedComponents;
  }
</script>
{% endblock %}
